# **Pandas**
- 작성자: 이수동 (울산대학교 산업경영공학부 | sudonglee@ulsan.ac.kr)
- 참고자료: 권철민, 『파이썬 머신러닝 완벽 가이드』, 위키북스(2020).

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

# **Introduction**
- Numpy는 행렬 형태의 데이터를 연산하고 가공하는 데에 우수한 능력을 가지고 있습니다. 하지만 데이터의 속성을 표시하는 행이나 열의 **레이블(label)**을 가지고 있지 않다는 한계점이 있습니다. 
- MS Excel의 Spreadsheet를 떠올려보세요. 행과 열로 이루어진 **테이블(table)** 형태의 데이터를 다루기 위해서는 레이블을 필수적으로 활용해야 합니다. 
- Pandas는 이러한 문제를 해결하기 위해 고안되었습니다. Pandas는 Numpy를 기반으로 하며, 데이터 탐색, 검사, 필터링, 정렬, 그룹화 등 테이블 형태(tabular)의 정형데이터 분석에 필요한 많은 기능을 제공합니다.

### **`pandas` 시작하기**

In [ ]:
import pandas as pd

`pandas` 실습을 위한 데이터를 이곳 [링크](https://liveuou-my.sharepoint.com/:u:/g/personal/sudonglee_mail_ulsan_ac_kr/EfTHfJDFsMFAttkaTxNb-awBoXEm-Ow7A6ZsMpy3yjgjrA?e=GWsNEF)를 통해 다운로드 받습니다.

In [ ]:
import os
path = os.getcwd()
print(path)

/content

In [ ]:
import zipfile
zip_file = zipfile.ZipFile('titanic.zip')
zip_file.extractall(path)

FileNotFoundError: ignored

- `read_csv` 함수를 통해 CSV 데이터를 DataFrame으로 불러올 수 있습니다.
- `head()` 메서드를 이용하면 DataFrame의 첫 5개 행(default, 임의로 설정도 가능)을 출력할 수 있습니다.

In [ ]:
titanic_df = pd.read_csv('titanic_train.csv')
print('변수 type:', type(titanic_df))
titanic_df.head(10)

변수 type: <class 'pandas.core.frame.DataFrame'>

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C
2            3         1       3  ...   7.9250   NaN         S
3            4         1       1  ...  53.1000  C123         S
4            5         0       3  ...   8.0500   NaN         S
5            6         0       3  ...   8.4583   NaN         Q
6            7         0       1  ...  51.8625   E46         S
7            8         0       3  ...  21.0750   NaN         S
8            9         1       3  ...  11.1333   NaN         S
9           10         1       2  ...  30.0708   NaN         C

[10 rows x 12 columns]

### **타이타닉 데이터 소개: Data Dictionary**

| Variable | Definition	| Description |
| :-: | :-: | :-: |
| PassengerId | 승객 ID | |
| Survived |	생존 여부	| 0 = 사망, 1 = 생존 |
| Pclass	| 티켓 등급 |	1 = 1st, 2 = 2nd, 3 = 3rd |
| Name | 성명 | |
| Sex |	성별 | |
| Age |	나이 |  |
| SibSp |	승선한 형제자매(siblings) 및 배우자(spouses)의 수 |
| Parch | 승선한 부모(parents) 및 자식(children)의 수 |
| Ticket |	티켓 번호	|
| Fare | 티켓 가격	|
| Cabin	| 객실 번호	|
| Embarked	| 승선 항구 |	C = Cherbourg, Q = Queenstown, S = Southampton |

`shape`, `info()`, `describe()` 등의 메서드를 활용하여 DataFrame의 정보를 파악할 수 있습니다.

In [ ]:
print('DataFrame 크기: ', titanic_df.shape)

DataFrame 크기:  (891, 12)

In [ ]:
titanic_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [ ]:
titanic_df.describe() # describe는 수치형의 기본통계량을 나타냄

       PassengerId    Survived      Pclass  ...       SibSp       Parch        Fare
count   891.000000  891.000000  891.000000  ...  891.000000  891.000000  891.000000
mean    446.000000    0.383838    2.308642  ...    0.523008    0.381594   32.204208
std     257.353842    0.486592    0.836071  ...    1.102743    0.806057   49.693429
min       1.000000    0.000000    1.000000  ...    0.000000    0.000000    0.000000
25%     223.500000    0.000000    2.000000  ...    0.000000    0.000000    7.910400
50%     446.000000    0.000000    3.000000  ...    0.000000    0.000000   14.454200
75%     668.500000    1.000000    3.000000  ...    1.000000    0.000000   31.000000
max     891.000000    1.000000    3.000000  ...    8.000000    6.000000  512.329200

[8 rows x 7 columns]

#### **Series**

- Series는 Index와 단 하나의 칼럼으로 구성된 데이터 세트입니다.
- DataFrame의 각 칼럼은 Series로 구성되어 있습니다.

In [ ]:
titanic_pclass = titanic_df['Pclass']
print(type(titanic_pclass))

<class 'pandas.core.series.Series'>

In [ ]:
titanic_pclass.head(891)

0      3
1      1
2      3
3      1
4      3
      ..
886    2
887    1
888    3
889    1
890    3
Name: Pclass, Length: 891, dtype: int64

- `value_counts()` 메서드를 호출하면 해당 칼럼 값의 유형과 건수를 확인할 수 있습니다.
- `value_counts()`는 변수의 분포를 확인하는 데에 매우 유용합니다.

In [ ]:
value_counts = titanic_df['Pclass'].value_counts()
print(type(value_counts))
print(value_counts)

<class 'pandas.core.series.Series'>
3    491
1    216
2    184
Name: Pclass, dtype: int64

In [ ]:
print(titanic_df['Sex'].value_counts())

male      577
female    314
Name: Sex, dtype: int64

In [ ]:
print(titanic_df['Survived'].value_counts())

0    549
1    342
Name: Survived, dtype: int64

### **DataFrame과 리스트, 딕셔너리, 넘파이 ndarray 상호 변환**

#### **ndarray, 리스트, 딕셔너리를 DataFrame으로 변환하기**

- 데이터 분석 상황에 따라 편리한 데이터셋의 형태가 다릅니다.
- ndarray, 리스트, 딕셔너리, DataFrame을 자유롭게 오가며 변환할 수 있어야 합니다.

In [ ]:
import numpy as np

col_name1=['col1']
list1 = [1, 2, 3]
array1 = np.array(list1)

print('array1 shape:', array1.shape )

df_list1 = pd.DataFrame(list1, columns=col_name1)
print('1차원 리스트로 만든 DataFrame:\n', df_list1)

df_array1 = pd.DataFrame(array1, columns=col_name1)
print('1차원 ndarray로 만든 DataFrame:\n', df_array1)

array1 shape: (3,)
1차원 리스트로 만든 DataFrame:
    col1
0     1
1     2
2     3
1차원 ndarray로 만든 DataFrame:
    col1
0     1
1     2
2     3

In [ ]:
# 3개의 컬럼명이 필요
col_name2=['col1', 'col2', 'col3']

# 2행x3열 형태의 리스트와 ndarray 생성 한 뒤 이를 DataFrame으로 변환
list2 = [[1, 2, 3],
         [11, 12, 13]]
array2 = np.array(list2)
print('array2 shape:', array2.shape)

df_list2 = pd.DataFrame(list2, columns=col_name2)
print('2차원 리스트로 만든 DataFrame:\n', df_list2)

df_array2 = pd.DataFrame(array2, columns=col_name2)
print('2차원 ndarray로 만든 DataFrame:\n', df_array2)

array2 shape: (2, 3)
2차원 리스트로 만든 DataFrame:
    col1  col2  col3
0     1     2     3
1    11    12    13
2차원 ndarray로 만든 DataFrame:
    col1  col2  col3
0     1     2     3
1    11    12    13

In [ ]:
# Key는 컬럼명으로 매핑, Value는 리스트 형(또는 ndarray)
dict = {'col1':[1, 11], 'col2':[2, 22], 'col3':[3, 33]}
df_dict = pd.DataFrame(dict)
print('딕셔너리로 만든 DataFrame:\n', df_dict)

딕셔너리로 만든 DataFrame:
    col1  col2  col3
0     1     2     3
1    11    22    33

#### **DataFrame을 ndarray, 리스트, 딕셔너리로 변환하기**

In [ ]:
# DataFrame을 ndarray로 변환
array3 = df_dict.values
print('df_dict.values 타입:', type(array3), 'df_dict.values shape:', array3.shape)
print(array3)

df_dict.values 타입: <class 'numpy.ndarray'> df_dict.values shape: (2, 3)
[[ 1  2  3]
 [11 22 33]]

In [ ]:
# DataFrame을 리스트로 변환
list3 = df_dict.values.tolist()
print('df_dict.values.tolist() 타입:', type(list3))
print(list3)

# DataFrame을 딕셔너리로 변환
dict3 = df_dict.to_dict('list')
print('\n df_dict.to_dict() 타입:', type(dict3))
print(dict3)

df_dict.values.tolist() 타입: <class 'list'>
[[1, 2, 3], [11, 22, 33]]

 df_dict.to_dict() 타입: <class 'dict'>
{'col1': [1, 11], 'col2': [2, 22], 'col3': [3, 33]}

### **DataFrame의 열(column) 다루기**

DataFrame의 열에 접근하는 방법은 기본적으로 2가지 입니다.
- `df_name['col_name']`
- `df_name.col_name`

In [ ]:
titanic_df['Age'].head()

0    22.0
1    38.0
2    26.0
3    35.0
4    35.0
Name: Age, dtype: float64

In [ ]:
titanic_df.Age.head()

0    22.0
1    38.0
2    26.0
3    35.0
4    35.0
Name: Age, dtype: float64

In [ ]:
titanic_df.head(3)

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C
2            3         1       3  ...   7.9250   NaN         S

[3 rows x 12 columns]

In [ ]:
titanic_df['Age_0']=0
titanic_df.head(3)

   PassengerId  Survived  Pclass  ... Cabin Embarked  Age_0
0            1         0       3  ...   NaN        S      0
1            2         1       1  ...   C85        C      0
2            3         1       3  ...   NaN        S      0

[3 rows x 13 columns]

In [ ]:
titanic_df['Age_by_10'] = titanic_df['Age']*10
titanic_df['Family_No'] = titanic_df['SibSp'] + titanic_df['Parch']+1
titanic_df.head(3)

   PassengerId  Survived  Pclass  ... Age_0 Age_by_10  Family_No
0            1         0       3  ...     0     220.0          2
1            2         1       1  ...     0     380.0          2
2            3         1       3  ...     0     260.0          1

[3 rows x 15 columns]

titanic_df에 'Alone'이라는 열을 추가합니다. 혼자 탔으면 True, 아니면 False

In [ ]:
titanic_df['Alone'] = (titanic_df['SibSp']+titanic_df['Parch']==0)

In [ ]:
titanic_df.Alone.head()

0    False
1    False
2     True
3    False
4     True
Name: Alone, dtype: bool

In [ ]:
titanic_df['Age_by_10'] = titanic_df['Age_by_10'] + 100
titanic_df.Age_by_10.head(3)

0    420.0
1    580.0
2    460.0
Name: Age_by_10, dtype: float64

In [ ]:
print(titanic_df.Survived)

In [ ]:
cols = ['Survived', 'Age', 'Sex']
titanic_df[cols].head()

   Survived   Age     Sex
0         0  22.0    male
1         1  38.0  female
2         1  26.0  female
3         1  35.0  female
4         0  35.0    male

### **DataFrame 데이터 삭제**

- `drop()` 메서드를 이용하여 DataFrame의 데이터를 삭제할 수 있습니다.
- 원본 DataFrame에 반영할 것인지의 여부는 `inplace` 옵션을 통해 선택할 수 있습니다. (defualt: `False`)

In [ ]:
titanic_df.head(3)

   PassengerId  Survived  Pclass  ... Age_by_10 Family_No  Alone
0            1         0       3  ...     420.0         2  False
1            2         1       1  ...     580.0         2  False
2            3         1       3  ...     460.0         1   True

[3 rows x 16 columns]

In [ ]:
titanic_drop_df = titanic_df.drop('Age_0', axis=1)
titanic_drop_df.head(3)

   PassengerId  Survived  Pclass  ... Age_by_10 Family_No  Alone
0            1         0       3  ...     420.0         2  False
1            2         1       1  ...     580.0         2  False
2            3         1       3  ...     460.0         1   True

[3 rows x 15 columns]

In [ ]:
titanic_df.head(3)

   PassengerId  Survived  Pclass  ... Age_by_10 Family_No  Alone
0            1         0       3  ...     420.0         2  False
1            2         1       1  ...     580.0         2  False
2            3         1       3  ...     460.0         1   True

[3 rows x 16 columns]

In [ ]:
titanic_drop_df = titanic_df.drop('Age_0', axis=1, inplace=True)
titanic_df.head()

   PassengerId  Survived  Pclass  ... Age_by_10 Family_No  Alone
0            1         0       3  ...     420.0         2  False
1            2         1       1  ...     580.0         2  False
2            3         1       3  ...     460.0         1   True
3            4         1       1  ...     550.0         2  False
4            5         0       3  ...     550.0         1   True

[5 rows x 15 columns]

In [ ]:
drop_result = titanic_df.drop(['Age_by_10', 'Family_No'], axis=1, inplace=True)
print('inplace=True 로 drop 후 반환된 값:',drop_result)

titanic_df.head(3)

inplace=True 로 drop 후 반환된 값: None

   PassengerId  Survived  Pclass  ... Cabin Embarked  Alone
0            1         0       3  ...   NaN        S  False
1            2         1       1  ...   C85        C  False
2            3         1       3  ...   NaN        S   True

[3 rows x 13 columns]

In [ ]:
pd.set_option('display.width', 1000)
pd.set_option('display.max_colwidth', 15)
print('#### before axis 0 drop ####')
print(titanic_df.head(3))

titanic_df.drop([0,1,2], axis=0, inplace=True)

print('#### after axis 0 drop ####')
print(titanic_df.head(3))

#### before axis 0 drop ####
   PassengerId  Survived  Pclass            Name  ...     Fare  Cabin  Embarked  Alone
0            1         0       3  Braund, Mr....  ...   7.2500    NaN         S  False
1            2         1       1  Cumings, Mr...  ...  71.2833    C85         C  False
2            3         1       3  Heikkinen, ...  ...   7.9250    NaN         S   True

[3 rows x 13 columns]
#### after axis 0 drop ####
   PassengerId  Survived  Pclass            Name  ...     Fare  Cabin  Embarked  Alone
3            4         1       1  Futrelle, M...  ...  53.1000   C123         S  False
4            5         0       3  Allen, Mr. ...  ...   8.0500    NaN         S   True
5            6         0       3  Moran, Mr. ...  ...   8.4583    NaN         Q   True

[3 rows x 13 columns]

In [ ]:
titanic_df.head(10)

### **`pandas`의 Index 객체**

`pandas`의 Index 객체는 Dataframe과 Series의 레코드를 고유하게 식별하는 객체입니다.

In [ ]:
# 원본 파일 재 로딩 
titanic_df = pd.read_csv('titanic_train.csv')

# Index 객체 추출
indexes = titanic_df.index
print(indexes)

# Index 객체를 실제 값 arrray로 변환 
print('Index 객체 array값:\n',indexes.values)

RangeIndex(start=0, stop=891, step=1)
Index 객체 array값:
 [  0   1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17
  18  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35
  36  37  38  39  40  41  42  43  44  45  46  47  48  49  50  51  52  53
  54  55  56  57  58  59  60  61  62  63  64  65  66  67  68  69  70  71
  72  73  74  75  76  77  78  79  80  81  82  83  84  85  86  87  88  89
  90  91  92  93  94  95  96  97  98  99 100 101 102 103 104 105 106 107
 108 109 110 111 112 113 114 115 116 117 118 119 120 121 122 123 124 125
 126 127 128 129 130 131 132 133 134 135 136 137 138 139 140 141 142 143
 144 145 146 147 148 149 150 151 152 153 154 155 156 157 158 159 160 161
 162 163 164 165 166 167 168 169 170 171 172 173 174 175 176 177 178 179
 180 181 182 183 184 185 186 187 188 189 190 191 192 193 194 195 196 197
 198 199 200 201 202 203 204 205 206 207 208 209 210 211 212 213 214 215
 216 217 218 219 220 221 222 223 224 225 226 227 228 229 230 231 232 233
 234 235 236 237 238 239 240 241 242 243 244 245 246 247 248 249 250 251
 252 253 254 255 256 257 258 259 260 261 262 263 264 265 266 267 268 269
 270 271 272 273 274 275 276 277 278 279 280 281 282 283 284 285 286 287
 288 289 290 291 292 293 294 295 296 297 298 299 300 301 302 303 304 305
 306 307 308 309 310 311 312 313 314 315 316 317 318 319 320 321 322 323
 324 325 326 327 328 329 330 331 332 333 334 335 336 337 338 339 340 341
 342 343 344 345 346 347 348 349 350 351 352 353 354 355 356 357 358 359
 360 361 362 363 364 365 366 367 368 369 370 371 372 373 374 375 376 377
 378 379 380 381 382 383 384 385 386 387 388 389 390 391 392 393 394 395
 396 397 398 399 400 401 402 403 404 405 406 407 408 409 410 411 412 413
 414 415 416 417 418 419 420 421 422 423 424 425 426 427 428 429 430 431
 432 433 434 435 436 437 438 439 440 441 442 443 444 445 446 447 448 449
 450 451 452 453 454 455 456 457 458 459 460 461 462 463 464 465 466 467
 468 469 470 471 472 473 474 475 476 477 478 479 480 481 482 483 484 485
 486 487 488 489 490 491 492 493 494 495 496 497 498 499 500 501 502 503
 504 505 506 507 508 509 510 511 512 513 514 515 516 517 518 519 520 521
 522 523 524 525 526 527 528 529 530 531 532 533 534 535 536 537 538 539
 540 541 542 543 544 545 546 547 548 549 550 551 552 553 554 555 556 557
 558 559 560 561 562 563 564 565 566 567 568 569 570 571 572 573 574 575
 576 577 578 579 580 581 582 583 584 585 586 587 588 589 590 591 592 593
 594 595 596 597 598 599 600 601 602 603 604 605 606 607 608 609 610 611
 612 613 614 615 616 617 618 619 620 621 622 623 624 625 626 627 628 629
 630 631 632 633 634 635 636 637 638 639 640 641 642 643 644 645 646 647
 648 649 650 651 652 653 654 655 656 657 658 659 660 661 662 663 664 665
 666 667 668 669 670 671 672 673 674 675 676 677 678 679 680 681 682 683
 684 685 686 687 688 689 690 691 692 693 694 695 696 697 698 699 700 701
 702 703 704 705 706 707 708 709 710 711 712 713 714 715 716 717 718 719
 720 721 722 723 724 725 726 727 728 729 730 731 732 733 734 735 736 737
 738 739 740 741 742 743 744 745 746 747 748 749 750 751 752 753 754 755
 756 757 758 759 760 761 762 763 764 765 766 767 768 769 770 771 772 773
 774 775 776 777 778 779 780 781 782 783 784 785 786 787 788 789 790 791
 792 793 794 795 796 797 798 799 800 801 802 803 804 805 806 807 808 809
 810 811 812 813 814 815 816 817 818 819 820 821 822 823 824 825 826 827
 828 829 830 831 832 833 834 835 836 837 838 839 840 841 842 843 844 845
 846 847 848 849 850 851 852 853 854 855 856 857 858 859 860 861 862 863
 864 865 866 867 868 869 870 871 872 873 874 875 876 877 878 879 880 881
 882 883 884 885 886 887 888 889 890]

In [ ]:
print(type(indexes.values))
print(indexes.values.shape)
print(indexes[:5].values)
print((indexes[6])es.values[:5])
indexprint

<class 'numpy.ndarray'>
(891,)
[0 1 2 3 4]
[0 1 2 3 4]
6

Index 내부의 값은 임의로 변경할 수 없습니다.

In [ ]:
indexes[0] = 5

TypeError: ignored

In [ ]:
titanic_df.head()

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C
2            3         1       3  ...   7.9250   NaN         S
3            4         1       1  ...  53.1000  C123         S
4            5         0       3  ...   8.0500   NaN         S

[5 rows x 12 columns]

In [ ]:
titanic_reset_df = titanic_df.reset_index(inplace=False)
titanic_reset_df.head()

   index  PassengerId  Survived  Pclass  ...          Ticket     Fare  Cabin  Embarked
0      0            1         0       3  ...       A/5 21171   7.2500    NaN         S
1      1            2         1       1  ...        PC 17599  71.2833    C85         C
2      2            3         1       3  ...  STON/O2. 31...   7.9250    NaN         S
3      3            4         1       1  ...          113803  53.1000   C123         S
4      4            5         0       3  ...          373450   8.0500    NaN         S

[5 rows x 13 columns]

In [ ]:
titanic_df_drop = titanic_df.drop([0,1,2], axis=0, inplace=False)
print('Before reset:\n', titanic_df_drop[['Pclass', 'Survived']].head(3))

titanic_df_drop.reset_index(inplace=True) 
print('After reset:\n', titanic_df_drop[['Pclass', 'Survived']].head(3))

titanic_df_drop

Before reset:
    Pclass  Survived
3       1         1
4       3         0
5       3         0
After reset:
    Pclass  Survived
0       1         1
1       3         0
2       3         0

     index  PassengerId  Survived  Pclass  ...      Ticket     Fare  Cabin  Embarked
0        3            4         1       1  ...      113803  53.1000   C123         S
1        4            5         0       3  ...      373450   8.0500    NaN         S
2        5            6         0       3  ...      330877   8.4583    NaN         Q
3        6            7         0       1  ...       17463  51.8625    E46         S
4        7            8         0       3  ...      349909  21.0750    NaN         S
..     ...          ...       ...     ...  ...         ...      ...    ...       ...
883    886          887         0       2  ...      211536  13.0000    NaN         S
884    887          888         1       1  ...      112053  30.0000    B42         S
885    888          889         0       3  ...  W./C. 6607  23.4500    NaN         S
886    889          890         1       1  ...      111369  30.0000   C148         C
887    890          891         0       3  ...      370376   7.7500    NaN         Q

[888 rows x 13 columns]

In [ ]:
titanic_df_drop.head(10)

   index  PassengerId  Survived  Pclass  ...     Ticket     Fare  Cabin  Embarked
0      3            4         1       1  ...     113803  53.1000   C123         S
1      4            5         0       3  ...     373450   8.0500    NaN         S
2      5            6         0       3  ...     330877   8.4583    NaN         Q
3      6            7         0       1  ...      17463  51.8625    E46         S
4      7            8         0       3  ...     349909  21.0750    NaN         S
5      8            9         1       3  ...     347742  11.1333    NaN         S
6      9           10         1       2  ...     237736  30.0708    NaN         C
7     10           11         1       3  ...    PP 9549  16.7000     G6         S
8     11           12         1       1  ...     113783  26.5500   C103         S
9     12           13         0       3  ...  A/5. 2151   8.0500    NaN         S

[10 rows x 13 columns]

### **데이터 선택 및 필터링**

#### **Python native accessors**
- 파이썬은 객체(object)의 인덱싱(indexing) 기능을 내장하고 있습니다. (리스트(list)의 인덱싱을 떠올려보세요.) DataFrame에서도 해당 기능을 이용할 수 있습니다.
- 이에 더불어 pandas는 고유의 accessor operator도 가지고 있습니다. 바로 `loc`과 `iloc`인데요! 어떤 내용인지 살펴 봅시다.

In [ ]:
titanic_df = pd.read_csv('titanic_train.csv')
titanic_df

     PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0              1         0       3  ...   7.2500   NaN         S
1              2         1       1  ...  71.2833   C85         C
2              3         1       3  ...   7.9250   NaN         S
3              4         1       1  ...  53.1000  C123         S
4              5         0       3  ...   8.0500   NaN         S
..           ...       ...     ...  ...      ...   ...       ...
886          887         0       2  ...  13.0000   NaN         S
887          888         1       1  ...  30.0000   B42         S
888          889         0       3  ...  23.4500   NaN         S
889          890         1       1  ...  30.0000  C148         C
890          891         0       3  ...   7.7500   NaN         Q

[891 rows x 12 columns]

**Index-based selection** <br/>
- 첫번째로 살펴볼 개념은 **수치로 표현된 위치**로 데이터에 접근하는 **index-based selection**을 수행하는 연산자(operator), `iloc`입니다. 
- `iloc`을 통해 `titanic_data`의 '첫번째 행'을 불러내봅시다.

In [ ]:
titanic_df.iloc[0]

PassengerId                 1
Survived                    0
Pclass                      3
Name           Braund, Mr....
Sex                      male
Age                      22.0
SibSp                       1
Parch                       0
Ticket              A/5 21171
Fare                     7.25
Cabin                     NaN
Embarked                    S
Name: 0, dtype: object

In [ ]:
titanic_df.head()

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C
2            3         1       3  ...   7.9250   NaN         S
3            4         1       1  ...  53.1000  C123         S
4            5         0       3  ...   8.0500   NaN         S

[5 rows x 12 columns]

- `iloc`은 행(row)을 기본적으로 참조하고, 그 다음 열(column)을 참조합니다.
- `iloc`을 통해 하나의 열을 불러오기 위해서는 다음과 같은 코드를 실행합니다.

In [ ]:
titanic_df['PassengerId']

0        1
1        2
2        3
3        4
4        5
      ...
886    887
887    888
888    889
889    890
890    891
Name: PassengerId, Length: 891, dtype: int64

In [ ]:
titanic_df.iloc[:,0]

0        1
1        2
2        3
3        4
4        5
      ...
886    887
887    888
888    889
889    890
890    891
Name: PassengerId, Length: 891, dtype: int64

In [ ]:
titanic_df.iloc[:3, 0]

0    1
1    2
2    3
Name: PassengerId, dtype: int64

In [ ]:
titanic_df.iloc[3:8, 4:7]

      Sex   Age  SibSp
3  female  35.0      1
4    male  35.0      0
5    male   NaN      0
6    male  54.0      0
7    male   2.0      3

In [ ]:
titanic_df.iloc[-5:,1]

886    0
887    1
888    0
889    1
890    0
Name: Survived, dtype: int64

In [ ]:
titanic_df.iloc[-5:]

     PassengerId  Survived  Pclass  ...   Fare Cabin  Embarked
886          887         0       2  ...  13.00   NaN         S
887          888         1       1  ...  30.00   B42         S
888          889         0       3  ...  23.45   NaN         S
889          890         1       1  ...  30.00  C148         C
890          891         0       3  ...   7.75   NaN         Q

[5 rows x 12 columns]

**Label-based selection** <br/>
- `loc` 연산자(operator)는 인덱스의 **레이블(label)**로 데이터를 호출합니다.
- 테이블 상의 데이터 위치가 아닌 인덱스 값 그 자체로 호출한다는 것이 특징입니다. 아래 예시를 살펴 봅시다.

In [ ]:
titanic_df.head()

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C
2            3         1       3  ...   7.9250   NaN         S
3            4         1       1  ...  53.1000  C123         S
4            5         0       3  ...   8.0500   NaN         S

[5 rows x 12 columns]

In [ ]:
titanic_df.iloc[0, 3]

'Braund, Mr. Owen Harris'

In [ ]:
titanic_df.loc[0, 'Name']

'Braund, Mr. Owen Harris'

In [ ]:
titanic_df.loc[:, ['Name', 'Sex', 'Age']]

               Name     Sex   Age
0    Braund, Mr....    male  22.0
1    Cumings, Mr...  female  38.0
2    Heikkinen, ...  female  26.0
3    Futrelle, M...  female  35.0
4    Allen, Mr. ...    male  35.0
..              ...     ...   ...
886  Montvila, R...    male  27.0
887  Graham, Mis...  female  19.0
888  Johnston, M...  female   NaN
889  Behr, Mr. K...    male  26.0
890  Dooley, Mr....    male  32.0

[891 rows x 3 columns]

In [ ]:
titanic_df.loc[:, 'Name':'Age']

               Name     Sex   Age
0    Braund, Mr....    male  22.0
1    Cumings, Mr...  female  38.0
2    Heikkinen, ...  female  26.0
3    Futrelle, M...  female  35.0
4    Allen, Mr. ...    male  35.0
..              ...     ...   ...
886  Montvila, R...    male  27.0
887  Graham, Mis...  female  19.0
888  Johnston, M...  female   NaN
889  Behr, Mr. K...    male  26.0
890  Dooley, Mr....    male  32.0

[891 rows x 3 columns]


#### [참고] `.iloc[0]`과 `.loc[0]`의 차이 정확히 이해하기
- `iloc`과 `loc` 모두 row-first, column-second 입니다.
- `.iloc[0]`의 `0`은 **'첫번째 인덱스'**라는 의미의 **숫자 0**을,<br/>
`.loc[0]`의 `0`은 **'인덱스의 값이 0인 데이터'**의 **인덱스 0**을 뜻합니다.

In [ ]:
print(titanic_df.iloc[:3])

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C
2            3         1       3  ...   7.9250   NaN         S

[3 rows x 12 columns]

In [ ]:
print(titanic_df.loc[:3])

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C
2            3         1       3  ...   7.9250   NaN         S
3            4         1       1  ...  53.1000  C123         S

[4 rows x 12 columns]

### **Index 지정하기**

- DataFrame의 디폴트 인덱스는 행 번호입니다.
- 인덱스로 사용하고 싶은 열을 임의로 지정할 수도 있습니다.
- `iloc`과 `loc`의 차이를 명확히 이해하기 위해 `Name`을 index로 사용하는 새로운 DataFrame인 `tmp_df`를 만들어 보겠습니다.

In [ ]:
tmp_df = titanic_df.set_index('Name') # Name이 index로 변함
tmp_df.head()

                 PassengerId  Survived  Pclass  ...     Fare  Cabin  Embarked
Name                                            ...
Braund, Mr. ...            1         0       3  ...   7.2500    NaN         S
Cumings, Mrs...            2         1       1  ...  71.2833    C85         C
Heikkinen, M...            3         1       3  ...   7.9250    NaN         S
Futrelle, Mr...            4         1       1  ...  53.1000   C123         S
Allen, Mr. W...            5         0       3  ...   8.0500    NaN         S

[5 rows x 11 columns]

In [ ]:
tmp_df.iloc[0]

PassengerId            1
Survived               0
Pclass                 3
Sex                 male
Age                 22.0
SibSp                  1
Parch                  0
Ticket         A/5 21171
Fare                7.25
Cabin                NaN
Embarked               S
Name: Braund, Mr. Owen Harris, dtype: object

In [ ]:
tmp_df.loc[0]

KeyError: ignored

- index가 바뀐 후에도 `tmp_df.iloc[0]`은 `tmp_df`의 첫 번째 행을 호출하며 적당 작동하는 것을 확인할 수 있습니다.
- 하지만 `tmp_df.loc[0]`은 `Name`으로 바뀐 index에 `0`이 더 이상 존재하지 않으므로 에러가 발생합니다.

### **조건부 선택(필터링)**
- DataFrame에서 특정 조건을 만족하는 데이터를 선택하는 방법입니다. 
- MS Excel에서의 필터링과 유사한 기능입니다.<br/>

Titanic호 승선객 중 남성 데이터만을 선택 해보겠습니다.

In [ ]:
titanic_df.Sex

In [ ]:
titanic_df.Sex == 'male'

0       True
1      False
2      False
3      False
4       True
       ...
886     True
887    False
888    False
889     True
890     True
Name: Sex, Length: 891, dtype: bool

In [ ]:
tmp = titanic_df.Sex == 'male'
print(type(tmp))

<class 'pandas.core.series.Series'>

In [ ]:
titanic_df.loc[titanic_df.Sex == 'male']

     PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0              1         0       3  ...   7.2500   NaN         S
4              5         0       3  ...   8.0500   NaN         S
5              6         0       3  ...   8.4583   NaN         Q
6              7         0       1  ...  51.8625   E46         S
7              8         0       3  ...  21.0750   NaN         S
..           ...       ...     ...  ...      ...   ...       ...
883          884         0       2  ...  10.5000   NaN         S
884          885         0       3  ...   7.0500   NaN         S
886          887         0       2  ...  13.0000   NaN         S
889          890         1       1  ...  30.0000  C148         C
890          891         0       3  ...   7.7500   NaN         Q

[577 rows x 12 columns]

In [ ]:
# 나이가 30세 이상인 사람만 불러오기
titanic_df.loc[titanic_df.Age >= 30]

     PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
1              2         1       1  ...  71.2833   C85         C
3              4         1       1  ...  53.1000  C123         S
4              5         0       3  ...   8.0500   NaN         S
6              7         0       1  ...  51.8625   E46         S
11            12         1       1  ...  26.5500  C103         S
..           ...       ...     ...  ...      ...   ...       ...
873          874         0       3  ...   9.0000   NaN         S
879          880         1       1  ...  83.1583   C50         C
881          882         0       3  ...   7.8958   NaN         S
885          886         0       3  ...  29.1250   NaN         Q
890          891         0       3  ...   7.7500   NaN         Q

[330 rows x 12 columns]

- `loc`과 `bool`을 조합하여 원하는 조건을 만족하는 데이터를 선택할 수 있습니다.
- 여러 개의 조건도 입력 가능합니다. `&` (and), `|` (or)를 조합합니다.

In [ ]:
bool_Sex = titanic_df.Sex == 'male'
print(bool_Sex)

0       True
1      False
2      False
3      False
4       True
       ...
886     True
887    False
888    False
889     True
890     True
Name: Sex, Length: 891, dtype: bool

In [ ]:
titanic_df.loc[(titanic_df.Sex == 'male') & (titanic_df.Pclass > 1)]

     PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0              1         0       3  ...   7.2500   NaN         S
4              5         0       3  ...   8.0500   NaN         S
5              6         0       3  ...   8.4583   NaN         Q
7              8         0       3  ...  21.0750   NaN         S
12            13         0       3  ...   8.0500   NaN         S
..           ...       ...     ...  ...      ...   ...       ...
881          882         0       3  ...   7.8958   NaN         S
883          884         0       2  ...  10.5000   NaN         S
884          885         0       3  ...   7.0500   NaN         S
886          887         0       2  ...  13.0000   NaN         S
890          891         0       3  ...   7.7500   NaN         Q

[455 rows x 12 columns]

In [ ]:
bool_Pclass = titanic_df.Pclass > 1
print(bool_Pclass)

0       True
1      False
2       True
3      False
4       True
       ...
886     True
887    False
888     True
889    False
890     True
Name: Pclass, Length: 891, dtype: bool

In [ ]:
print(bool_Sex & bool_Pclass)

0       True
1      False
2      False
3      False
4       True
       ...
886     True
887    False
888    False
889    False
890     True
Length: 891, dtype: bool

In [ ]:
print(bool_Sex | bool_Pclass)

In [ ]:
titanic_df.loc[bool_Sex & bool_Pclass]

In [ ]:
# 여성이면서 and 20세 미만
titanic_df.loc[(titanic_df.Sex=='female') & (titanic_df.Age<20)]

In [ ]:
# 여성이거나 1등석
titanic_df.loc[(titanic_df.Sex=='female') | (titanic_df.Pclass==1)]

In [ ]:
# 탑승한 항구(Embarked)가 S 또는 C
titanic_df.loc[titanic_df.Embarked.isin(['S', 'C'])]

이외에도 pandas에는 다양한 기능의 built-in conditional selector들이 있습니다. 
- `isin`: 해당 데이터가 주어진 리스트에 속한 값인가?
- `isnull`: 해당 데이터가 `NaN` (Not a Number)인가? (cf. 반대는 `notnull`)

In [ ]:
titanic_df.loc[titanic_df.Embarked.isin(['S', 'C'])]

     PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0              1         0       3  ...   7.2500   NaN         S
1              2         1       1  ...  71.2833   C85         C
2              3         1       3  ...   7.9250   NaN         S
3              4         1       1  ...  53.1000  C123         S
4              5         0       3  ...   8.0500   NaN         S
..           ...       ...     ...  ...      ...   ...       ...
884          885         0       3  ...   7.0500   NaN         S
886          887         0       2  ...  13.0000   NaN         S
887          888         1       1  ...  30.0000   B42         S
888          889         0       3  ...  23.4500   NaN         S
889          890         1       1  ...  30.0000  C148         C

[812 rows x 12 columns]

In [ ]:
titanic_df.loc[titanic_df.Age.isnull()]

     PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
5              6         0       3  ...   8.4583   NaN         Q
17            18         1       2  ...  13.0000   NaN         S
19            20         1       3  ...   7.2250   NaN         C
26            27         0       3  ...   7.2250   NaN         C
28            29         1       3  ...   7.8792   NaN         Q
..           ...       ...     ...  ...      ...   ...       ...
859          860         0       3  ...   7.2292   NaN         C
863          864         0       3  ...  69.5500   NaN         S
868          869         0       3  ...   9.5000   NaN         S
878          879         0       3  ...   7.8958   NaN         S
888          889         0       3  ...  23.4500   NaN         S

[177 rows x 12 columns]

### **데이터 입력하기**
- DataFrame의 값을 바꾸거나 새로운 데이터를 추가하는 등 기존의 데이터를 편집할 수 있습니다.
- 앞서 배운 인덱싱 기법을 활용합니다.

In [ ]:
titanic_df = pd.read_csv('titanic_train.csv')

In [ ]:
titanic_df.loc[titanic_df.Age.isnull(), 'Age'] = 'unknown'
titanic_df.Age

0         22.0
1         38.0
2         26.0
3         35.0
4         35.0
        ...
886       27.0
887       19.0
888    unknown
889       26.0
890       32.0
Name: Age, Length: 891, dtype: object

In [ ]:
titanic_df['NewColumn'] = titanic_df.Age
titanic_df['NewColumn']

0         22.0
1         38.0
2         26.0
3         35.0
4         35.0
        ...
886       27.0
887       19.0
888    unknown
889       26.0
890       32.0
Name: NewColumn, Length: 891, dtype: object

In [ ]:
titanic_df.head(20)

### **정렬, Aggregation함수, GroupBy 적용**

*italicized text*#### **DataFrame, Series의 정렬: `sort_values()`**

In [ ]:
titanic_sorted = titanic_df.sort_values(by=['Name'])
titanic_sorted.head(3)

     PassengerId  Survived  Pclass  ... Cabin Embarked NewColumn
845          846         0       3  ...   NaN        S      42.0
746          747         0       3  ...   NaN        S      16.0
279          280         1       3  ...   NaN        S      35.0

[3 rows x 13 columns]

In [ ]:
titanic_sorted = titanic_df.sort_values(by=['Pclass', 'Name'], ascending=False)
titanic_sorted.head(3)

     PassengerId  Survived  Pclass  ... Cabin Embarked NewColumn
868          869         0       3  ...   NaN        S   unknown
153          154         0       3  ...   NaN        S      40.5
282          283         0       3  ...   NaN        S      16.0

[3 rows x 13 columns]

#### **Aggregation 함수 적용**

In [ ]:
titanic_df = pd.read_csv('titanic_train.csv')

In [ ]:
titanic_df.count()

PassengerId    891
Survived       891
Pclass         891
Name           891
Sex            891
Age            714
SibSp          891
Parch          891
Ticket         891
Fare           891
Cabin          204
Embarked       889
dtype: int64

In [ ]:
titanic_df[['Age', 'Fare']].mean()

Age     29.699118
Fare    32.204208
dtype: float64

In [ ]:
titanic_df.describe()

       PassengerId    Survived      Pclass  ...       SibSp       Parch        Fare
count   891.000000  891.000000  891.000000  ...  891.000000  891.000000  891.000000
mean    446.000000    0.383838    2.308642  ...    0.523008    0.381594   32.204208
std     257.353842    0.486592    0.836071  ...    1.102743    0.806057   49.693429
min       1.000000    0.000000    1.000000  ...    0.000000    0.000000    0.000000
25%     223.500000    0.000000    2.000000  ...    0.000000    0.000000    7.910400
50%     446.000000    0.000000    3.000000  ...    0.000000    0.000000   14.454200
75%     668.500000    1.000000    3.000000  ...    1.000000    0.000000   31.000000
max     891.000000    1.000000    3.000000  ...    8.000000    6.000000  512.329200

[8 rows x 7 columns]

#### **groupby() 이용하기**

In [ ]:
titanic_groupby = titanic_df.groupby(by='Pclass')
print(type(titanic_groupby))

<class 'pandas.core.groupby.generic.DataFrameGroupBy'>

In [ ]:
titanic_groupby = titanic_df.groupby('Pclass').count()
titanic_groupby

        PassengerId  Survived  Name  Sex  ...  Ticket  Fare  Cabin  Embarked
Pclass                                    ...
1               216       216   216  216  ...     216   216    176       214
2               184       184   184  184  ...     184   184     16       184
3               491       491   491  491  ...     491   491     12       491

[3 rows x 11 columns]

In [ ]:
titanic_groupby = titanic_df.groupby('Pclass')[['PassengerId', 'Survived']].count()
titanic_groupby

        PassengerId  Survived
Pclass
1               216       216
2               184       184
3               491       491

In [ ]:
titanic_df.groupby('Pclass')['Age'].agg([max, min])

         max   min
Pclass
1       80.0  0.92
2       70.0  0.67
3       74.0  0.42

In [ ]:
agg_format={'Age':'max', 'SibSp':'sum', 'Fare':'mean'}
titanic_df.groupby('Pclass').agg(agg_format)

         Age  SibSp       Fare
Pclass
1       80.0     90  84.154687
2       70.0     74  20.662183
3       74.0    302  13.675550

#### **결손 데이터 처리하기**

#### **`isna()`로 결측치(missing data) 확인**

In [ ]:
titanic_df.isna().head(3)

   PassengerId  Survived  Pclass   Name  ...  Ticket   Fare  Cabin  Embarked
0        False     False   False  False  ...   False  False   True     False
1        False     False   False  False  ...   False  False  False     False
2        False     False   False  False  ...   False  False   True     False

[3 rows x 12 columns]

In [ ]:
titanic_df.isna( ).sum( )

#### **`fillna()`로 결측치(missing data) 대체하기**

In [ ]:
titanic_df['Cabin'] = titanic_df['Cabin'].fillna('C000')
titanic_df.head(3)

In [ ]:
titanic_df['Age'] = titanic_df['Age'].fillna(titanic_df['Age'].mean()) # 👈🏻 전처리 작업
titanic_df['Embarked'] = titanic_df['Embarked'].fillna('S')
titanic_df.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         0
dtype: int64

In [ ]:
titanic_df.to_csv('result.csv')

### **apply lambda 식으로 데이터 가공하기**

1회성으로 사용하는데 주로 사용됨

In [ ]:
def get_square(a):
    return a**2

print('3의 제곱은:',get_square(3))

In [ ]:
lambda_square = lambda x : x ** 2
print('3의 제곱은:',lambda_square(3))

In [ ]:
a=[1,2,3]
squares = map(lambda x : x**2, a)
list(squares)

In [ ]:
a = [1, 2, 3]
odds = filter(lambda x : x % 2 == 1, a)
list(odds)

In [ ]:
titanic_df['Name_len']= titanic_df['Name'].apply(lambda x : len(x))
titanic_df[['Name','Name_len']].head(3)

             Name  Name_len
0  Braund, Mr....        23
1  Cumings, Mr...        51
2  Heikkinen, ...        22

In [ ]:
titanic_df['Child_Adult'] = titanic_df['Age'].apply(lambda x : 'Child' if x <=15 else 'Adult' )
titanic_df[['Age','Child_Adult']].head(8)

         Age Child_Adult
0  22.000000       Adult
1  38.000000       Adult
2  26.000000       Adult
3  35.000000       Adult
4  35.000000       Adult
5  29.699118       Adult
6  54.000000       Adult
7   2.000000       Child

In [ ]:
                titanic_df['Age_cat'] = titanic_df['Age'].apply(lambda x : 'Child' if x<=15 else ('Adult' if x <= 60 else 
                                                                  'Elderly'))
titanic_df['Age_cat'].value_counts()

Adult      786
Child       83
Elderly     22
Name: Age_cat, dtype: int64

In [ ]:
# 나이에 따라 세분화된 분류를 수행하는 함수 생성. 
def get_category(age):
    cat = ''
    if age <= 5: cat = 'Baby'
    elif age <= 12: cat = 'Child'
    elif age <= 18: cat = 'Teenager'
    elif age <= 25: cat = 'Student'
    elif age <= 35: cat = 'Young Adult'
    elif age <= 60: cat = 'Adult'
    else : cat = 'Elderly'
    
    return cat

# lambda 식에 위에서 생성한 get_category( ) 함수를 반환값으로 지정. 
# get_category(X)는 입력값으로 ‘Age’ 컬럼 값을 받아서 해당하는 cat 반환
titanic_df['Age_cat'] = titanic_df['Age'].apply(lambda x : get_category(x))
titanic_df[['Age','Age_cat']].head()

    Age      Age_cat
0  22.0      Student
1  38.0        Adult
2  26.0  Young Adult
3  35.0  Young Adult
4  35.0  Young Adult